body {
  margin-left: 200px;
  background-color: #c4895a;
}

h1 {
	color : #17252a;
}

ul.navbar {
  position: absolute;
  top: 30px;
  left: 7px;
  width: 150px;
  list-style-type: none;
}

ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

ul.navbar a {
  text-decoration: none
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.shoes{
	width: 20%;
}

.infos{
	margin: 5px;
	padding: 5px;
}

.color1{
	color: rgb(70, 58, 20);
}

.color2{
	color: rgb(155, 34, 34);
}